* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*! nav bar */

.nav-bar {
  max-width: 88%;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wave {
  background: linear-gradient(0deg, #F7E93F, #FB09B4, #9100F8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu {
  font-size: 16px;
  font-weight: 500;
}

.menu a {
  margin-left: 32px;
  text-decoration: none;
  color: #ffffff;
}

.menu-icon {
  display: none;
  margin-right: 5px;
}

.nav-btn>button {
  padding: 12px 16px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

/*! nav bar end */
/* -------Podcast------- */
/*! Podcast */
.podcast {
  background-color: #1A0B2E;

}

.podcast-content {
  max-width: 88%;
  width: 1200px;
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 121px;
}

.podcast-content>h1 {
  font-size: 48px;
  font-weight: bold;
  margin-top: 8px;
}

.topic-2,
.topic-1 {
  opacity: 80%;
}

.podcast-content .topic-1 {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 35px;
}

hr {
  margin: 80px auto;
  opacity: 10%;

}

.pod-view {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

/*! Podcast end */
/* -------------- */
/*! nav banner*/
.hero-banner {
  background: url(assets/hero-bg.png) center/cover no-repeat;
  text-align: center;
  align-items: center;
  padding: 101px 0;
  display: flex;
  justify-content: center;
}

.hero-container {
  max-width: 550px;
}

.hero-circle {
  position: relative;
}

.badge {
  font-size: 18px;
  font-weight: 800;
  padding: 8px 16px;
  background-color: #00FF88;
  border: none;
  border-radius: 30px;
  position: absolute;
  top: 10px;
  right: 115px;
  box-shadow: 0 3px 27px #00ff8850;
}

.mocro {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-title {
  font-size: 48px;
  font-weight: 800;
  color: #FFFFFF;
  margin-bottom: 8px;
  margin-top: 40px;
}

.hero-description {
  color: #FFFFFF;
  opacity: 0.8;
  margin-bottom: 24px;
}

.Spotify {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  align-items: center;
  padding: 12px 20px;
  border-radius: 25px;
  border: none;
  gap: 8px;
  background: linear-gradient(50deg, #F7E93F, #FB09B4, #9100F8);
  color: #FFFFFF;
}

.Subscribe {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  align-items: center;
  padding: 12px 20px;
  border-radius: 25px;
  border: 1px solid #00FF88;
  gap: 8px;
  color: #00FF88;
  background: none;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/*! choose start*/

.choose-container {
  background: #230E3D;
}

.choose-content {
  max-width: 88%;
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 121px;
}

.content-grid>* {
  border-radius: 15px;
  padding: 40px;
  color: #FFFFFF;
  background-color: #35116546;
}

.content-grid {
  padding-top: 121px;
  display: grid;
  gap: 30px;
  grid-template-areas:
    "box-title box-title box-title"
    "box-1 box-2 box-2"
    "box-1 box-3 box-3"
    "box-4 box-4 box-5"
  ;
}

.grid-item h2 {
  margin: 16px 0;
  font-size: 24px;
  font-weight: bold;
}

.grid-pra>p {
  line-height: 24px;
  opacity: 60%;
}

.box-title {
  grid-area: box-title;
  background: none;
  text-align: center;
  padding: 0px 0px;
  font-weight: bold;
}

.box-1 {
  grid-area: box-1;
}

.box-2 {
  grid-area: box-2;
}

.box-3 {
  grid-area: box-3;
}

.box-4 {
  grid-area: box-4;
}

.box-5 {
  grid-area: box-5;
}

/*! choose end*/

/*! episode*/
.episodes-content {
  width: 1200px;
  max-width: 88%;
  margin: 0 auto;
}

.episodes-content>h1 {
  color: #FFFFFF;
  text-align: center;
  padding-top: 121px;
  margin-bottom: 40px;
}

.grid-pra>P {
  margin: 12px 0;
}

.grid-pra>span img {
  margin-right: 12px;
}

.card-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  background-color: #230E3D;
  border-radius: 15px;
  margin-bottom: 121px;
}

.card-1 .video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.card-1 .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
}

.card-dis {
  color: #ffffff;
  padding: 24px;
}

/*! episode*/

/*! host*/
.host-content {
  max-width: 88%;
  width: 1200px;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  background-color: #35116541;
  border-radius: 35px;
}

.host-info {
  color: #FFFFFF;
}

.social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social img {
  padding: 10px;
  border: 1px solid #533C72;
  border-radius: 50%;
}

/*! host*/






@media screen and (max-width:576px) {

  .hero-banner {
    background: url(assets/hero-bg.png) center/cover no-repeat;
    background-size: contain;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
  }

  .hero-circle {
    max-width: 100%;
  }

  /*! nav bar */
  .menu-icon {
    display: inline;
    margin-right: 5px;
  }

  .menu,
  .nav-btn>button {
    display: none;
  }

  nav {
    margin: 0 20px;
  }

  /*! nav bar end */
  .hero-container {
    max-width: 80%;
  }

  .hero-title {
    font-size: 60px;
    margin-top: 20px;
  }

  .hero-banner {
    width: 100%;
    height: 100%;
    background: url(assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  /*! podcast */
  .pod-view {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .pod-about>h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  /*! choose start*/
  .content-grid {
    padding-top: 60px;
    display: grid;
    gap: 30px;
    grid-template-areas:
      "box-title"
      "box-1"
      "box-2"
      "box-3"
      "box-4"
      "box-5"
    ;
  }

  /*! episodes */
  .card-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    background-color: #230E3D;
    border-radius: 15px;
    margin-bottom: 0px;
  }

  .episodes-content>h1 {
    color: #FFFFFF;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 17px;
    font-size: 33px;
  }

  /* host */
  .host-content {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    gap: 24px;
    background-color: #35116541;
    border-radius: 35px;
  }

  .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}